@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #282828;
}

p, button, span, a {
  font-family: "Open Sans", sans-serif;
  color: #282828;
}

a {
  color: black;
  text-decoration: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100%;
  height: 50px;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links__container .link {
  padding: 10px;
}

.navbar .links__container .link p {
  color: #f8f8f8;
  font-size: 24px;
}

.navbar .profile {
  padding: 10px;
}

.navbar .profile p {
  color: #f8f8f8;
}

.home .hero {
  padding: 150px 0 50px 0;
}

.home .hero .container {
  max-width: 850px;
  height: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .hero .container p {
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.75);
  color: #f8f8f8;
  font-size: 24px;
}

.home .hero .container .column-1 .item-1 {
  width: 400px;
  height: 400px;
  background-image: url(./assets/chronograph.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.home .hero .container .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .hero .container .column-2 p {
  text-align: right;
}

.home .hero .container .column-2 .item-2 {
  width: 400px;
  height: 180px;
  background-image: url(./assets/automatic.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.home .hero .container .column-2 .item-3 {
  width: 400px;
  height: 180px;
  background-image: url(./assets/dress.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.category__container {
  padding: 100px 0;
}

.category__container .header {
  width: 400px;
  margin: 0 auto 75px auto;
  padding: 10px;
  text-align: center;
  border-left: 5px solid #e9d63d;
  background: rgba(233, 214, 61, 0.25);
}

.category__container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer {
  width: 100%;
  height: 100px;
  background: #dac519;
  text-align: center;
  padding-top: 25px;
}

.add-watch__container {
  width: 400px;
  margin: auto;
}

.add-watch__container .input__container input, .add-watch__container .input__container textarea {
  display: block;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.add-watch__container .input__container select {
  display: block;
}

.add-watch__container button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #282828;
  color: #f8f8f8;
  font-size: 18px;
}

.auth {
  width: 100%;
}

.auth .auth__container {
  width: 500px;
  margin: 100px auto 0 auto;
  padding: 25px;
  background: #f8f8f8;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.auth .auth__container h1 {
  text-align: center;
  margin: 10px 0;
}

.auth .auth__container h1 span {
  color: #a8a8a8;
}

.auth .auth__container h1 .active {
  color: #282828;
}

.auth .auth__container .login__container input, .auth .auth__container .register__container input {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  background: #e6e6e6;
}

.auth .auth__container .login__container .submit, .auth .auth__container .register__container .submit {
  display: block;
  width: 100px;
  margin: 0 auto 20px auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #56BAEC;
  color: #f8f8f8;
}

.watch-card {
  width: 250px;
  height: 400px;
  background: grey;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-card button {
  width: 100px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #56BAEC;
  color: #f8f8f8;
}

.watch-card .image {
  width: 200px;
  height: 175px;
}

.watch-card .name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.watch-card .price {
  font-weight: bold;
}

.profile__icon {
  color: green;
  font-size: 32px;
}

.logout__icon {
  color: red;
  font-size: 32px;
}
/*# sourceMappingURL=App.css.map */